.body {
  /*align-items: center;
  justify-content: center;*/
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.button-container {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.array {
  width: 800px;
  margin: 0 auto;
}
