
body {
  /*align-items: center;
  justify-content: center;*/
  font-family: "copperplate", sans-serif;
  background-image: url("space.jpg");
  background-size: 100%;
  /*font: "copperplate";*/
}

header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 3rem;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*background-color: white;*/
  color: white;

}

.header-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.array {
  width: 800px;
  margin: 0 auto;
}

.icons {
  padding-left: 0;
  list-style: none;
  display: flex;
  font-size: 40px;
  justify-content: space-between;
  margin: 5px 0;
  /*color: white;*/
}

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  text-decoration: none;
  color: white;
}

button {
  font-size: 15px;
  border-radius: 4px;
  border-color: gray;
  font-family: "copperplate", sans-serif;

}

#reset {
  background-color: #ffffff
}
#selection {
  background-color: #4CAF50;
}
#insertion {
  background-color: #008CBA;
}
#bubble {
  background-color: #f44336;
}
#merge {
  background-color: #e7e7e7;
}
#cocktail {
  background-color: #DEB887;
}
#bogo {
  background-color: black;
  color: red;
}

.speed-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  color: white;
}

.speed-label {
  /*margin-left: 1rem;*/
}
